<section>
    <div class="about-container">
        <img src="https://campusvirtual.poligran.edu.co/img/logopoli_w.png" alt="Politécnico Grancolombiano">
        <h4 class="title">INSTITUCION UNIVERSITARIA POLITÉCNICO GRANCOLOMBIANO</h4>
        <p class="title">FACULTAD DE INGENIERÍA, DISEÑO E INNOVACIÓN</p>
        <P class="title">INGENIERÍA DE SOFTWARE</P>
        <p>Este sitio fue realizado con propósitos educativos para el área de Gerencia de proyectos informáticos (2020-2) - impartida por:</p>
        <p class="emph">FRANCISCO JAVIER GONZALES</p>
        <p>-Miembros del equipo-</p>
        <ul>
            <li><p >CARLOS ANDRES FRANCO RESTREPO </p></li>
            <li><p >DAVID STEPHAN VILLALBA </p></li>
            <li><p >JULIAN MALAGON NAVARRO </p></li>
            <li><p >JOSE ANDRES ORTIZ </p></li>
        </ul>
        <p>El sitio web y los productos mostrados no reflejan una actividad comercial real, su propósito es netamente educativo</p>
        <p>Las imágenes usadas fueron tomadas de fabricantes de los productos bajo reutilización sin modificaciones y únicamente para fines demostrativos.</p>
    </div>
</section>
