<div class="my-bg">
<div class="container">
<footer class="pt-4 my-md-5 pt-md-5">
    <h2>Proyecto Marketplace - Gerencía de proyectos informaticos.</h2>
    <p>Institución universitaría Politécnico Grancolombiano.</p>
    <p>Presentado a: <span class="text-muted">Francisco Javier Gonzales.</span></p>
    <div class="row">
      
      <div class="col-6 col-md">
        <h5>Equipo.</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Carlos Andrés Franco Restrepo </a></li>
          <li><a class="text-muted" href="#">David stepha villalba </a></li>
          <li><a class="text-muted" href="#">Jose Andres ortíz</a></li>
          <li><a class="text-muted" href="#">Julian Malagón Navarro </a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About.</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Conoce más.</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</div>
