<nav>
    <div class="top-panel">
        <a href="">MarketPlace</a>
        <div class="search-bar">
            <input type="text" placeholder="Encuentra todo aquí..">
            <button type="submit" class="btn btn-outline-warning">Buscar</button>
        </div>
        
        <div class="login">
            <a href="">Inicia sesión</a>
            <a href="">Registrate</a>
        </div>
    </div>
    <div class="bottom-panel">
        <div class="nav-links">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorías
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Tecnología</a>
            <a class="dropdown-item" href="#">Hogar</a>
            <a class="dropdown-item" href="#">Electrodomésticos</a>
            <a class="dropdown-item" href="#">Accesorios para bebés</a>
            <a class="dropdown-item" href="#">Moda</a>
            <a class="dropdown-item" href="#">Deportes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Otros</a>
            </div>
            <a href="">Ofertas</a>
            <a href="">Destacados</a>
            <a href="">Más vendidos</a>
        </div>
        <div class="user-stages">
            <a href="">Mis favoritos</a>
            <a href="">Mis compras</a>
        </div>
    </div>
</nav>